@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 91%;
    --foreground: 240 10% 3.9%;

    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* Primary colors for <Button /> */
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;

    /* Secondary colors for <Button /> */
    --secondary: 0 0% 100%;
    --secondary-foreground: 240 5.9% 10%;

    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Default border color */
    --border: 240 5.9% 90%;

    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 0 0% 97%;

    /* Used for focus ring */
    --ring: 240 10% 3.9%;

    /* Border radius for card, input and buttons */
    --radius: 1.3rem;
  }

  @media screen and (prefers-color-scheme: dark) {
    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  .tiptap h1 {
    margin-block: 5rem; /* Equivalent to 'scroll-m-20' */
    font-size: 2.25rem; /* Equivalent to 'text-4xl' */
    font-weight: 800; /* Equivalent to 'font-extrabold' */
    letter-spacing: -0.025em; /* Equivalent to 'tracking-tight' */
  }

  @media (min-width: 1024px) {
    .tiptap h1 {
      font-size: 3rem; /* Equivalent to 'lg:text-5xl' */
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tiptap > * + * {
  margin-top: 0.55em;
}

.tiptap h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.tiptap h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

.tiptap h2 {
  font-size: 1.875rem;
  font-weight: 800;
}

.tiptap h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.tiptap h4 {
  font-size: 1.25rem;
  font-weight: 800;
}

@media (min-width: 1024px) {
  .tiptap h1 {
    font-size: 3rem;
  }

  .tiptap h2 {
    font-size: 2.25rem;
  }
}

.tiptap p {
  margin-top: 1.5rem;
  line-height: 1.75rem;
}

.tiptap ul {
  margin-top: 1.5rem; /* Equivalent to 'my-6' */
  margin-bottom: 1.5rem; /* Equivalent to 'my-6' */
  margin-left: 1.5rem; /* Equivalent to 'ml-6' */
  list-style-type: disc; /* Equivalent to 'list-disc' */
}

.tiptap code {
  position: relative; /* Equivalent to 'relative' */
  border-radius: 0.25rem; /* Equivalent to 'rounded' (default Tailwind radius) */
  background-color: #f4f4f5; /* 'bg-muted' - specify your muted color */
  padding-left: 0.3rem; /* Equivalent to 'px-[0.3rem]' */
  padding-right: 0.3rem; /* Equivalent to 'px-[0.3rem]' */
  padding-top: 0.2rem; /* Equivalent to 'py-[0.2rem]' */
  padding-bottom: 0.2rem; /* Equivalent to 'py-[0.2rem]' */
  font-family: monospace; /* Equivalent to 'font-mono' */
  font-size: 0.875rem; /* Equivalent to 'text-sm' */
  font-weight: 600; /* Equivalent to 'font-semibold' */
}

.rpv-core__viewer {
  --rpv-core__inner-page-background-color: transparent !important;
  --rpv-core__doc-loading-background-color: transparent !important;
  --rpv-core__doc-error-background-color: transparent !important;
  --rpv-core__full-screen-target-background-color: transparent !important;

  --rpv-core__page-layer-box-shadow: none !important;
  background-color: transparent !important;
}
